.floatingdiv {
    justify-content: space-around;
    display: flex;
    background: white;
    box-shadow: 0px 19px 60px rgb(0 0 0 / 8%);
    border-radius: 17px;
    align-items: center;
}

.floatingdiv img{
    transform: scale(0.4);
}

.floatingdiv span{
    font-family: sans-serif;
    font-size: 16px;
}